.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 350px;
  height: 400px;
  margin-top: 25px;
  margin-right: 25px;

  padding: 20px;
  border-radius: 20px;

  background: var(--light);
  -webkit-box-shadow: 4px 4px 15px 0px rgba(18, 25, 31, 0.2);
  -moz-box-shadow: 4px 4px 15px 0px rgba(18, 25, 31, 0.2);
  box-shadow: 4px 4px 15px 0px rgba(18, 25, 31, 0.2);
}

.title {
  width: 100%;
  text-wrap: balance;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
}

.image {
  display: block;
  height: 50%;
  margin: 30px auto 70px auto;
}

.order {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  bottom: 30px;
  left: 0;
  font-size: 16px;
  letter-spacing: 1px;
}

.orderBtn {
  width: 180px;
  background: transparent;
  border: transparent;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: var(--dark);
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 15px;
  -webkit-box-shadow: 4px 4px 15px 0px rgba(18, 25, 31, 0.2);
  -moz-box-shadow: 4px 4px 15px 0px rgba(18, 25, 31, 0.2);
  box-shadow: 4px 4px 15px 0px rgba(18, 25, 31, 0.2);

  transition: box-shadow 0.15s ease;
}

.orderBtn:active {
  -webkit-box-shadow: 2px 2px 13px 0px rgba(18, 25, 31, 0.2);
  -moz-box-shadow: 2px 2px 13px 0px rgba(18, 25, 31, 0.2);
  box-shadow: 2px 2px 13px 0px rgba(18, 25, 31, 0.2);
}
