.header {
  position: sticky;
  top: 0;
  left: calc(50% - 720px);
  right: 0;
  max-width: 1440px;
  height: 50px;
  padding: 15px;
  z-index: 1000;

  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  border-radius: 0 0 20px 20px;

  font-size: 18px;
  color: var(--light);
  background: var(--dark);
}

.header a {
  position: relative;
  text-decoration: none;
  color: var(--light);
  letter-spacing: 1px;

  text-decoration: none;
  background-image: linear-gradient(var(--light), var(--light));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

.header a:first-child {
  width: 200px;
}

.header a:last-child {
  width: 200px;
}

.header a:hover {
  background-size: 100% 2px;
}
